@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header {
    /* height: 70px; */
    grid-area: header;
    background-color: #33075770;

    /*Flex Property*/
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    
  }
  .logo{
    height: 10%;
    width: 10%;
  }

  .navbar {
    /* grid-area: navbar; */
    width: 75%;
    align-self: center;
    /*background-color: #afd6af;*/
    

  }
  
  .icono-lupa{
    align-self: center;
  }
  .sidebar {
    grid-area: sidebar;
    background-color: #fdcfcf;
  }
  
  .main {
    grid-area: main;
    background-color: #f5f5f5;
  }
  
  .footer {
    grid-area: footer;
    background-color: #33075770;

    /*Flex Property*/
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
  }

.grid-container {
    display: grid;
    gap: 10px;
    /* grid-template: 
        "header" 100px
        /*"navbar" 50px*/
    /*    "main" auto
        "sidebar" 100px
        "footer" 100px; */
      grid-template-areas: 
                "header header header header header header header header header header header header"
                "main main main main main main main main main sidebar sidebar sidebar"
                "footer footer footer footer footer footer footer footer footer footer footer footer";
    grid-template-rows: 10% 65% 25%;
}

#menu-header li{
    list-style-type: none;
    display: inline;
    padding-right: 20px;

    font-size: 1em;
  }

  .cabecera-footer{
    font-size: 0.7em;
    color: rgb(1, 13, 43);
    text-align: left;
  }

  .text-footer{
    font-size: 0.6em;
    color: rgb(68, 67, 67);
    text-align: left;
  }
/* 
@media (min-width: 600px) {
    .grid-container {
        grid-template:
            "header  header" 100px
            "navbar  navbar" 50px
            "sidebar main" auto
            "footer  footer" 100px /
            200px auto;
    }
}

@media (min-width: 900px) {
    .grid-container {
      grid-template:
        "header  header header"  100px
        "navbar  main   sidebar" auto
        "footer  footer footer"  100px /
        200px    auto   200px;
    }
} */