@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
    background-color: white;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
 
.grid-container {
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 100px
        "main" auto
        "footer" auto;
}

.main {
  grid-area: main;
  background-color: rgba(147, 112, 216, 0.534);
}


/******************************************************/
/************************HEADER************************/
/******************************************************/

.header{
  display: flex;
  min-height: 70px;
  background-color: mediumpurple;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

a{
  text-decoration: none;
  color: black;
}

.logo{
  display: flex;
  align-items: center;
  border: 2px solid rgb(57, 43, 83);
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 3px;
}

.logo img{
  height: 70px;
  margin-right: 0px;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: indigo;
  font-size: larger;
}

#menu, #menu-check {
  display: none;
}

@media (max-width:600px){

  header{
      flex-direction: row;
  }

  nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 45%;
    background-color: mediumpurple;
    padding-top: 70px;
    padding-right: 30px;
    opacity: 0.8;
    color: black;
    font-size: 1.5em;
  }

  a{
    display: block;
    text-align: right;
  }

  #menu-check:not(:checked) ~ nav {
    display: none;
  }

  #menu-check:checked ~ nav {
    display: block;
  }

  #menu {
      display: block;
      color: black;
      background-color: mediumpurple;
      font-size: 1.2em;
      font-weight: bold;
      position: absolute;
      right: 40px;
      top: 33px;
      z-index: 9999;  
  }

  #menu:hover{
    color: indigo;
    filter: brightness(110%);
    cursor: pointer;
  }

  #top-line, #middle-line, #bottom-line{
    position: absolute;
    content: none;
    background-color: black;
    width: 30px;
    height: 5px;
    border-radius: 5px;
    transition: all 400ms ease;
  }

  #middle-line{
    top: 11px;
  }

  #bottom-line{
    top: 22px;
  }

  #menu-check:checked ~ #menu #top-line{
    transform: rotate(140deg);
    top: 10px;
  }

  #menu-check:checked ~ #menu #middle-line{
    opacity: 0;
  }

  #menu-check:checked ~ #menu #bottom-line{
    transform: rotate(-140deg);
    top: 10px;
  }

}


/******************************************************/
/***********************CARRUSEL***********************/
/******************************************************/

.slider-position{
  position: absolute;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
}

.slider-container{
  background-image: url(img/50520-laboratorio-clinico.jpg);
  background-size: cover;
  height: 530px;
  width: 100%;
  animation: animate 35s infinite;
  border: 2px solid rgb(57, 43, 83);
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

@keyframes animate{
  14.28% {
      background-image: url(img/50520-laboratorio-clinico.jpg);
      background-size: cover;
  }

  28.56% {
      background-image: url(img/50523-laboratorio-clinico.jpg);
      background-size: cover;
  }

  42.84% {
      background-image: url(img/50562-laboratorio-clinico.jpg);
      background-size: cover;
  }

  57.12% {
      background-image: url(img/50573-laboratorio-clinico.jpg);
      background-size: cover;
  }

  71.4% {
      background-image: url(img/50605-laboratorio-clinico.jpg);
      background-size: cover;
  }

  85.68% {
      background-image: url(img/50611-laboratorio-clinico.jpg);
      background-size: cover;
  }

  99.96% {
      background-image: url(img/50678-laboratorio-clinico.jpg);
      background-size: cover;
  }
}


/******************************************************/
/************************INICIO************************/
/******************************************************/

.logo-main{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 806px;
  border: 2px solid rgb(57, 43, 83);
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.lab h1{
  color: indigo;
  font-size: 50px;
  font-weight: bold;
}

.lab ul{
  list-style: none;
}


/************************************************************************************
*************************************FOOTER*****************************************
*************************************************************************************/

.footer {
  grid-area: footer;
  background-color: mediumpurple;
  /*Flex Property*/
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.icono-institucion{
  display: flex;
}

.cabecera-footer{
  font-size: 1em;
  color: rgb(57, 43, 83);
  text-align: left;
}

.text-footer{
  font-size: 0.9em;
  color: rgb(68, 67, 67);
  text-align: left;
}

.text-footer>img{
  height: 12px;
}

/* @media (max-width: 600px) {
  .footer{
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
  }
} */

@media (max-width: 900px) {
  .footer{
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
  }
}


/*************************************************************************************
************************SEDES*********************************************************
**************************************************************************************/

.sedes{
  display: grid;
  grid-template-columns: repeat(2,auto);
  background-color: rgba(147, 112, 216, 0.534);
}

.nombre-sede{
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  color:rgb(57, 43, 83);
  margin-bottom: 10px;
}

.sedes>div>img{
  width: 80%;
  /* border: 2px solid rgb(57, 43, 83); */
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

.informacion-sede{
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: 1em;
  color:rgb(57, 43, 83);
  margin-bottom: 10px;
}

.sedes>div>iframe{
  width: 80%;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .sedes{
    grid-template-columns: auto;
  }
  
  .nombre-sede{
    font-size: x-larger;
    font-weight: bolder;
  }
  
  .informacion-sede{
    font-size: large;
  }
  
}

/* @media (max-width: 900px) {
  .nombre-sede{
    font-size:large;
  }
  
  .informacion-sede{
    font-size: small;
  }
} 


/******************************************************/
/*********************INFORMACION**********************/
/******************************************************/

.indicaciones .button{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  border: 2px solid rgb(12, 12, 12);
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  background-color: mediumpurple;
}

.indicaciones a:hover{
  color: indigo;
  filter: brightness(110%);
}

@media (max-width:600px){
  .indicaciones .button{
    display: inline-block;
  }
}

.indicaciones h2{
  font-weight: bolder;
  color:rgb(57, 43, 83);
}

.indicaciones img{
  border: 2px solid rgb(57, 43, 83);
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.COVID-19 h2{
  font-weight: bolder;
  color:rgb(57, 43, 83);
}

.COVID-19 img{
  border: 2px solid rgb(57, 43, 83);
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.infografia img{
  width: 600px;
  border: 2px solid rgb(57, 43, 83);
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.obras-sociales{
  width: 590px;
  display: inline-block;
  background-color: #f5f5f5;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(57, 43, 83);
  border-radius: 5px;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
}

.obras-sociales h2{
  font-weight: bolder;
  color:rgb(57, 43, 83);
}

.obras-sociales ul{
  list-style: none;
}


/*************************************************************************************
************************CONTACTO******************************************************
**************************************************************************************/

.formulario__container {
  background-color: rgba(147, 112, 216, 0.534);
}

.formulario {
	display: grid;
	grid-template-columns: 1fr;
  /* vertical-align: middle; nuevo */
	gap: 20px;
}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width:70%;
  vertical-align: middle; /*nuevo*/
	background: #fff;
	border: 3px solid rgb(99, 6, 165);
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	/* transition: .3s ease all; */
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__textarea {
	width:70%;
  height: 20%;
	background: #fff;
	border: 3px solid #db8ff2;
	border-radius: 3px;
	padding: 0 40px 0 10px;
  font-size: 15px;
}

.formulario__textarea:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}


.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 1;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 20%;
	background: mediumpurple;
	color: black;
  font-size: 18px;
	font-weight: bold;
	border: 2px solid rgb(12, 12, 12);
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
  color: indigo;
  filter: brightness(110%);
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 20px;
  font-weight: bold;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

  .formulario__input {
    width:100%;
  }

	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}


/******************************************************/
/*********************MEDIA QUERIES********************/
/******************************************************/

@media (max-width: 600px) {
  .grid-container {
      grid-template:
          "header  header" 100px
          "main" auto
          "footer  footer" 100px /
          200px auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header  header header"  100px
      "main" auto
      "footer  footer footer"  100px /
      200px    auto   200px;
  }
}
