@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header{
  display: flex;
  min-height: 70px;
  background-color: mediumpurple;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
  
  .main {
    grid-area: main;
    background-color: #f5f5f5;
  }
  
  .footer {
    grid-area: footer;
    background-color: mediumpurple;

    /*Flex Property*/
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .cabecera-footer{
    font-size: 0.7em;
    color: rgb(1, 13, 43);
    text-align: left;
  }

  .text-footer{
    font-size: 0.6em;
    color: rgb(68, 67, 67);
    text-align: left;
  }

  .text-footer>img{
    height: 12px;
  }

.grid-container {
    display: grid;
    gap: 10px;
    grid-template: 
        "header" 100px
        "main" auto
        "footer" 100px;
}

a{
  text-decoration: none;
  color: black;
}

.logo{
  display: flex;
  align-items: center;
}

.logo img{
  height: 70px;
  margin-right: 0px;
}

nav a{
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover{
  color: indigo;
}

#menu, #menu-check {
  display: none;
}

@media (max-width:600px){
  header{
      flex-direction: row;
  }

  nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 35%;
    background-color: mediumpurple;
    padding-top: 70px;
    padding-right: 30px;
    opacity: 0.8;
    color: black;
    font-size: 1.4em;
}

a{
    display: block;
    text-align: right;
}

  #menu-check:not(:checked) ~ nav {
      display: none;
  }

  #menu-check:checked ~ nav {
      display: block;
  }

  #menu {
      display: block;
      color: black;
      background-color: mediumpurple;
      font-size: 1.2em;
      font-weight: bold;
      border: 3px solid black;
      border-radius: 7px;
      position: absolute;
      right: 15px;
      top: 28px;
      z-index: 9999;
      cursor: pointer;
  }

  #menu:hover{
      color: indigo;
      border-color: indigo;
      filter: brightness(110%);
  }

  #menu-cerrar{
      display: none;
  }

  #menu-check:checked ~ label #menu-abrir{
      display: none;
  }

  #menu-check:checked ~ label #menu-cerrar{
      display: block;
  }

}


.position{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider{
  background-image: url(img/50520-laboratorio-clinico.jpg);
  background-size: cover;
  height: 65%;
  width: 100%;
  animation: animate 35s infinite;
}
@keyframes animate{
  14.28% {
      background-image: url(img/50520-laboratorio-clinico.jpg);
      background-size: cover;
  }

  28.56% {
      background-image: url(img/50523-laboratorio-clinico.jpg);
      background-size: cover;
  }

  42.84% {
      background-image: url(img/50562-laboratorio-clinico.jpg);
      background-size: cover;
  }

  57.12% {
      background-image: url(img/50573-laboratorio-clinico.jpg);
      background-size: cover;
  }

  71.4% {
      background-image: url(img/50605-laboratorio-clinico.jpg);
      background-size: cover;
  }

  85.68% {
      background-image: url(img/50611-laboratorio-clinico.jpg);
      background-size: cover;
  }

  99.96% {
      background-image: url(img/50678-laboratorio-clinico.jpg);
      background-size: cover;
  }
}

.right img{
  width: 600px;
}

.left img{
  width: 600px;
}

@media (max-width: 600px) {
    .grid-container {
        grid-template:
            "header  header" 100px
            "main" auto
            "footer  footer" 100px /
            200px auto;
    }
}

@media (min-width: 900px) {
    .grid-container {
      grid-template:
        "header  header header"  100px
        "main" auto
        "footer  footer footer"  100px /
        200px    auto   200px;
    }
}

/* ***********************************************************************************
************************ESTILO SEDES**************************************************
**************************************************************************************/
.sedes{
  display: grid;
  grid-template-columns: repeat(2,auto);

  background-color: rgba(147, 112, 216, 0.534);

}

.nombre-sede{
  text-align: center;
  font-size: xx-large;
  color:rgb(57, 43, 83);
  padding-bottom: 10px;
}

.sedes>div>img{
  width: 80%;
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-bottom: 10px;
}

.informacion-sede{
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: large;
  color:rgb(57, 43, 83);
  padding-bottom: 10px;
}